# zsh/templates/zshrc.j2
# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

# Set name of the theme to load
ZSH_THEME="{{ zsh_theme }}"

# Plugins
plugins=(git {% for plugin in zsh_plugins %}{{ plugin.name }} {% endfor %})

source $ZSH/oh-my-zsh.sh

# User configuration
export LANG=en_US.UTF-8

# Aliases
{% for alias_item in zsh_aliases %}
alias {{ alias_item.alias }}="{{ alias_item.command }}"
{% endfor %}

# Custom configurations
{% if zsh_custom_config is defined %}
{{ zsh_custom_config }}
{% endif %}
